<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>home page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph 
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">-->

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">-->

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: Imperial - v5.9.1
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">


      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#news">News</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <!--<img class="" src="assets/img/logo.png" alt="Imperial">-->
        </div>

        <h1 class="header center green-text">SAVFOREST</h1>
        
        <h2>Let's <span class="typed" data-typed-items="save forest and make the better future"></span>
        </h2>
        <div class="actions">
          <a href="/predict" class="btn-get-started">NUMERIAL PREDICTION</a>
          <a href="/image_dash" class="btn-services">IMAGE PREDICTION</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Why This?</p>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="static/assets/img/aboutimg.png" alt="" style="height: 500px; width: 2500px;padding-top: -510px;">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">We provide great services and ideas</h2>
            <p class="about-text">
              Forest fires are a matter of concern as a result they cause in depth injury to surroundings, property
              and human life. Hence, it’s crucial to notice the fire at Associate in nursing earlier stage. This website
              is basically to predict forest fires to save the flora and fauna. With the development of the platform,
              we can predict if the forest will catch fire in the future. For making predictions the platform will
              take the inputs from the users and at the same time the images as the attributes.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->




    <!-- ======= News Section ======= -->
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">NEWS</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        <form action="/" method="post">
          <div class="input-group mb-3">
          <input type="text" class="form-control" name="keyword" placeholder="Enter keyword ...." aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
        </form>
        </div>
        {% if all_headlines %}
        <center><h1>Headlines</h1></center>
        <div class="row row-cols-1 row-cols-md-2 g-4 mx-3 my-3">
          {% for headline in all_headlines %}
          <div class="col">
            <div class="card h-100">
            <img src="{{headline['urlToImage']}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{headline['title']}}</h3>
              <p class="card-text">{{headline['description']}} <a href="{{headline['url']}}" target="blank">Read More...</a></p>
      
      
            </div>
            <div class="card-footer">
              <small class="text-muted">{{headline['source']['name']}}</small>
            </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if all_articles %}
        <center><h1>Results for '{{keyword}}'</h1></center>
        <div class="row row-cols-1 row-cols-md-2 g-4 mx-3 my-3">
          {% for article in all_articles %}
          <div class="col">
            <div class="card h-100">
            <img src="{{article['urlToImage']}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{article['title']}}</h3>
              <p class="card-text">{{article['description']}} <a href="{{article['url']}}" target="blank">Read More...</a></p>
      
      
            </div>
            <div class="card-footer">
              <small class="text-muted">{{article['source']['name']}}</small>
            </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </section><!-- End Portfolio Section -->



  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>